
second_semester/serjola_em_busca_do_banco_de_dados_perfeito/PAID_SEM2/votacao_secao_2022_Presidente_1T.csv
second_semester/serjola_em_busca_do_banco_de_dados_perfeito/PAID_SEM2/votacao_secao_2022_presidente_2T.csv
second_semester/serjola_em_busca_do_banco_de_dados_perfeito/PAID_SEM2/votacao_secao_2022_DF.csv
second_semester/serjola_em_busca_do_banco_de_dados_perfeito/PAID_SEM2/votacao.csv
